{% extends 'base.html' %}
{% block title %}
    <title>Summary | GUDLFT Registration</title>
{% endblock title %}
{% block content %}
    <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}" id="logout-link">Logout</a>

    {% with messages = get_flashed_messages(with_categories=True)%}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            {% if category == 'error' %}
                <li class="alert alert-danger">{{message}}</li>
            {% else %}
                <li class="alert alert-success">{{message}}</li>
            {% endif %}
        {% endfor %}
       </ul>
    {% endif%}
    Points available: {{club['points']}}
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {%if comp['numberOfPlaces']|int >0%}
            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {%endif%}
        </li>
        <hr />
        {% endfor %}
    </ul>
    <a href="{{ url_for('displayPoints') }}" id="display-points-link">Display points</a>
    {%endwith%}
{% endblock content %}
