{% extends 'base.html' %}
{% block title %}
    <title>Booking for {{competition['name']}} || GUDLFT</title>
{% endblock title %}
{% block content %}
    <h2>{{competition['name']}}</h2>
    Places available: {{competition['numberOfPlaces']}}
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label><input type="number" name="places" id="places" min="0" max="{{competition['numberOfPlaces']}}"/>
        <button type="submit">Book</button>
    </form>
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            <ul>
           {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
           </ul>
        {% endif%}
    {%endwith%}
{% endblock content %}
